.card-container{
    display: flex;
    justify-content: center;
    
}
.option{
    width: 350px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #777;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    margin-left: 30px;
    height: 500px;
    color: white;
    border-radius: 15px;
}
#op1{
    margin-bottom: 140px;
}
#op2{
    margin-bottom: 98px;
}
.card-head{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    
}
.card-head h3{
    color: #f4e116;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.card-head h5{
    color: #f4e116;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}
.card-head h5 span{
    color: #fff;
}
.card-text span{
    font-weight: bold;
}
.option .btn {
    display: flex;
    justify-content: center;
}
.option .btn button{
    padding: 10px 50px;
    font-weight: bold;
    color: #ff206e;
    
}